* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: 0;
}

body {
  background: #fafafa;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
}